body, html{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden;
}
img {
  image-rendering: pixelated;
  user-select: none;
  -webkit-user-drag: none;
}
.modal{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f1dec7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  color: #033082;
  width: 70%;
  height: 20%;
  top: 40%;
  line-height: 1.5;
}
#count{
 position: absolute;
 z-index: 3;
 color: aliceblue;
 right: 10px;
 top: 10px;
}
canvas{
  position: absolute;
  overflow: hidden;
}
